@import 'settings';
@import 'helpers/mixins';
@import 'helpers/forms';

@import 'splash';
@import 'screen';

body {
  color: $text-color;
  font-family: $base-font;
}

.page {
  background-color: $app-background-color;
}

@import 'components/base';
@import 'page_defs/base';

// CSS-position-fix FOR CUSTOM CSS SECTION

.page.images-and-text-phone {
  .region.caption-and-text {
    .inner {
      @include flex-row-container;
      
      .component {
        -webkit-box-ordinal-group: 2;
        
        &.image-caption {
          -webkit-box-ordinal-group: 1;
        }
      }
    }
  }
}