.viewport {
  height: 100%;
  width: 100%;

  display: -webkit-box;
  -webkit-box-orient: horizontal;

  position: absolute;

  .page {
    -webkit-transform: translate3d(0,0,0);
  }
  
  &.standard {
    -webkit-transform: translate3d(0,0,0);
  }

  &.pre-slide {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 500ms;
    -webkit-transition-function: ease-out;
  }
  
  &.start-back {
    -webkit-transform: translate3d(-50%, 0, 0);
    width: 200%;
  }
  
  &.start-forward {
    -webkit-transform: translate3d(0,0,0);
    width: 200%;
  }

  &.slide-left {
    -webkit-transform: translate3d(-50%, 0, 0);
  }

  &.slide-right {
    -webkit-transform: translate3d(0,0,0);
  }
}


