.component.audio-player {

  .android & {
    padding-top: 7px;
  }

  .ios & {
    text-align:center;
    padding-top: 10px;
  }

  audio {
    width: 60%;
    padding-top: 8px;
  }

  &.hidden {
    display: none;
  }
  
  background-color: #F0F1F2;
  
  .ui {
    @include flex-column-container;
    .playtoggle {
      display: block;
      height: 80px; width: 80px;
      -webkit-box-flex: 0;
    }
    
    .rail {
      -webkit-box-flex: 1;
      
      .gutter {
        overflow: hidden;
        margin: 0 10px 0 0;
        height: 8px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(45%,#e5e5e5), color-stop(100%,#cccccc));
        background: -webkit-linear-gradient(top, #cccccc 0%,#e5e5e5 45%,#cccccc 100%);
        border-radius: 4px;

      }
      
      .progress {
        height: 8px;
        border-radius: 4px;
        background-color: #444;
      }
    }
    
    .remaining {
      display: none;
    }
    
    
  }
  
  .playtoggle {
    background-image: url('resources/icons/playpause/play_up.png');
    
    &:active {
      background-image: url('resources/icons/playpause/play_down.png');
    }
    
  }
    
  &.playing .playtoggle {
    background-image: url('resources/icons/playpause/pause_up.png');
    
    &:active {
      background-image: url('resources/icons/playpause/pause_down.png');
    }
  }
  
  

  form {
    width: 60px;
    margin: 0 auto;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-border-radius: 5px;
    padding: 0px 0;

    @include chrome-gradient;
    @include box-shadow(0, 1px);

    input {
      -webkit-box-flex: 1;

      margin: 0;
      display: block;
      border: none;

      height: 30px;
      font-size: 15px;
      background-color: transparent;

      &.play {
        @include icon('resources/icons/btn-play.png', 30px, 30px);
      }

    }
  }

  &.playing input.play {
    @include icon('resources/icons/btn-pause.png', 30px, 30px);
  }
}
